.containerBox{
    background-image: url(../img/glassesImage/background.jpg);
    /* background-size: cover;  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #000000ab;
    height: 1200px;
}

.header{
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 500;
}

.body{
    z-index: 10;
}

.card {
    margin: 50px;
}

.card-img-top{
    position: relative;
}

.card-body{
    position: absolute;
    bottom: 0;
    background-color: rgba(210, 105, 30, 0.692);
}

.card-title{
    color: #AD82FF;
}

.glassesFit{
    display: block;
    position: absolute;
    width: 100px;
    top: 120px;
    left: 86px;
}

.glassesFit img {
    width: 230px;
    opacity: 0.7;
}

.glassesList{
    width: 80%;
    margin: 10px auto;
    background-color: white;
    padding: 30px 30px;
}

.glassesItem{
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
}

.glassesItem img{
    width: 100%;
    margin: auto;
}